.Rproj.user
.Rhistory
.RData
.Ruserdata
placeholder.Rcheck/
placeholder*.tar.gz
placeholder*.tgz
unix_intro
placeholder.Rcheck/
placeholder.Rcheck/
placeholder.Rcheck/
placeholder.Rcheck/
placeholder.Rcheck/
placeholder.Rcheck/
placeholder.Rcheck/
placeholder.Rcheck/
